//radio buttons with the "chip" class
.chip-group {
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
	margin: 1rem 0;

	input[type="radio"],
	input[type="checkbox"] {
		display: none;
		position: absolute;
		overflow: hidden;
		clip: rect(0 0 0 0);
		height: 1px;
		width: 1px;
		margin: -1px;
		padding: 0;
		border: 0;

		&+label {
			background-color: transparent;
			border: 1px solid cornflowerblue;
			color: cornflowerblue;
			padding: 0.5em 1em;
			text-align: center;
			border-radius: 9999px;
			z-index: 10;
			display: inline-block;
			vertical-align: middle;
			display: flex;
			align-items: center;
			gap: 0.45rem;

			&:hover {
				cursor: pointer;
			}


		}

		&:checked {
			&+label {
				background-color: cornflowerblue;
				color: white;
				font-weight: bold;
				// color: var(--clr-primary-pink)
			}
		}
	}

	.chip.chip-radio {
		position: relative;
	}




}