@use "./mixins";
@use "./typography";
@use "./reset";
@use "./variables";
@use "./globals";
@use "./timer";
@use "./slide";
@use "./progressCircle";
@use "./utility/chipbox";
@use "./timerFactory";
@use "./dropArea";
@use "./timerSet";

html {
	overflow-x: hidden;
	width: 100vw;


}

body,
#root {
	background-color: #212121;
	height: 100vh;

	font-family: 'Lato', sans-serif;

	p,
	a:not(.material-icons),
	button:not(.material-icons),
	h3 {
		font-family: 'Lato', sans-serif;
	}

	h1,
	h2 {
		font-family: 'Fredoka One', cursive;
	}

	// font-family: 'Open Sans', sans-serif;
}

#portal-root {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	// background-color: #24c7dc65;
	color: black;
	z-index: 200;
	font-family: 'Lato', sans-serif;
	// font-family: 'Open Sans', sans-serif;
	pointer-events: none;

	>div {
		width: 5rem;
		height: 2rem;
	}


	.timer__increase-time,
	.timer__decrease-time {
		// transform-origin: top;
		transform: translateX(-50%); //centering the buttons
		align-items: center;
		pointer-events: all;

		button {
			display: inline-flex;
			background-color: rgba(255, 255, 255, 0.503);
			font-weight: var(--fw-light);
			transform: scale(1);
			transition: background-color 100ms ease-out, border 100ms ease-out, transform 100ms ease-out;
			border-radius: 0 !important;
			padding: 1.0rem 2rem !important;

			font-size: var(--text-sm);

			&:hover {
				border: 1px solid currentColor;
				background-color: var(--clr-primary-orange);
				transform: scale(1.2)
			}
		}
	}
}


.App {
	display: grid;
	// place-content: stretch center;
	// align-items: stretch;
	// justify-items: center;
	height: 100%;
	background-color: transparent;
	// background: var(--clr-primary-pink);
	// /* fallback for old browsers */
	// background: -webkit-linear-gradient(to bottom, var(--clr-primary-orange), var(--clr-primary-pink));
	// /* Chrome 10-25, Safari 5.1-6 */
	// background: linear-gradient(to bottom, var(--clr-primary-orange), var(--clr-primary-pink));

	// /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	// &.break {
	// 	background: #24C6DC;
	// 	/* fallback for old browsers */
	// 	background: -webkit-linear-gradient(to top, #514A9D, #24C6DC);
	// 	/* Chrome 10-25, Safari 5.1-6 */
	// 	background: linear-gradient(to top, #514A9D, #24C6DC);
	// 	/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

	// }
}

.portal {
	z-index: 200;

	>div {
		width: 2rem;
		height: 2rem;
	}
}


.active-timer-display {
	display: grid;
	place-content: stretch center;
	align-items: center;
	justify-items: center;
	height: 100%;
	padding: 3rem;
	// background: var(--clr-primary-pink);
	// /* fallback for old browsers */
	// background: -webkit-linear-gradient(to bottom, var(--clr-primary-orange), var(--clr-primary-pink));
	// /* Chrome 10-25, Safari 5.1-6 */
	// background: linear-gradient(to bottom, var(--clr-primary-orange), var(--clr-primary-pink));

	// /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	// &.break {
	// 	background: #24C6DC;
	// 	/* fallback for old browsers */
	// 	background: -webkit-linear-gradient(to top, #514A9D, #24C6DC);
	// 	/* Chrome 10-25, Safari 5.1-6 */
	// 	background: linear-gradient(to top, #514A9D, #24C6DC);
	// 	/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

	// }
}