@import url('https://fonts.googleapis.com/css2?family=Titan+One&display=swap');

html,
body {
	background-color: var(--clr-primary-deep-dark);
	/* background-image: url("../public/layered-waves-haikei.svg"), url("../public/blurry-gradient-haikei 2.svg"); */
	background-size: 100%, cover;
	background-repeat: no-repeat;
	background-position: bottom;
	background-blend-mode: overlay, normal;
	/* width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center; */
}

*,
*:before,
*:after {
	box-sizing: border-box;
}

ul {
	padding-inline-start: 0;
}

body * {
	font-size: medium;
}

.App {
	text-align: center;
	overflow-x: hidden;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-color: var(--clr-primary-deep-dark);
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}