@function color($color-name) {
	@return var(--color-#{$color-name});
}

@mixin hidden() {
	position: absolute;
	overflow: hidden;
	clip: rect(0 0 0 0);
	height: 1px;
	width: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
}

@mixin reveal() {
	position: relative;
	clip: unset;
	height: inherit;
	width: inherit;
	margin: inherit;
}

@mixin ba($ba, $width, $height, $top, $left, $z-index:inherit, $center: false, $scale: 1, $rel:true, $content:null) {
	@if ($rel==true) {
		position: relative;
	}



	&:#{ba} {
		position: absolute;
		width: width;
		height: height;
		top: top;
		left: left;
		content: "#{content}";
		z-index: z-index;
		@content;

		@if (center==true) {
			transform: translate(-50%, -50%) scale(scale);
		}
	}
}



//for glass
@mixin glassBlur {
	background-color: #7070707a;
	border-top: 1px solid rgba(255, 255, 255, 0.198);
	border-bottom: 1px solid rgba(255, 255, 255, 0.198);

	@supports (backdrop-filter: blur(2px)) or (-webkit-backdrop-filter: blur(2px)) {
		background-color: #70707044;
		backdrop-filter: blur(2px);
	}

}

@mixin glassShine {
	background: linear-gradient(to bottom, transparent 40%, rgba(255, 255, 255, 0.23));
	border-bottom: 1px solid rgba(255, 255, 255, 0.308);
	opacity: 57%;
}